/*
@mixin ellipsis {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin link-colors($normal, $hover, $visited) {
  color: $normal;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
}

@mixin link-colors(
    $normal,
    $hover: $normal,
    $visited: $normal
  )
{
  color: $normal;
  &:hover { color: $hover; }
  &:visited { color: $visited; }
}

a {
    @include link-colors(
      $normal: blue,
      $visited: green,
      $hover: red
  );
}
@mixin btn{
  width: 690rpx;
	height: 98rpx;
	background-color: #ce000a;
	border-radius: 6rpx;
  
	font-size: 32rpx;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rpx;
	color: #ffffff;
}
*/
.box-gh,.box-dir,.box-year{
	width:max-content;
	white-space: nowrap;
}
.tip-box-all {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	bottom: 50%;
	min-height: 400rpx;
}

.tip-img {
	width: 300rpx;
	height: 300rpx;
}

.tipss {
	margin-top: 25rpx;
	font-size: 26rpx;
	color: #999;
}
.aaaaa{
	/**
	 * 1. word-break:break-all;只对英文起作用，以字母作为换行依据

2. word-wrap:break-word; 只对英文起作用，以单词作为换行依据

3. white-space:pre-wrap; 只对中文起作用，强制换行

4. white-space:nowrap; 强制不换行，都起作用

5. white-space:nowrap; overflow:hidden; text-overflow:ellipsis;不换行，超出部分隐藏且以省略号形式出现
	 */
}

