menu {

	margin: 0;
	padding: 0;
}

span {
	white-space: pre-wrap;
	text-align: center;
}

textarea {
	overflow: auto;
	resize: none;
}

button {
	cursor: pointer;
}

body {
	background: #fff;
	
}

body {
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}
/**英文换行*/
text{
	word-break: break-all;
}
a:hover {
	color: #333;
}



video::-internal-media-controls-download-button {
	display: none;
}

video::-webkit-media-controls-enclosure {
	overflow: hidden;
}

video::-webkit-media-controls-panel {
	width: calc(100% + 30px);
}

p {
	margin: 0;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

/* 火狐 */
input {
	-moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition-delay: 9999s;
	-webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input::-webkit-input-placeholder {
	color: #999;
}


input,
textarea {
	border-style: hidden;
	-webkit-border-style: hidden;
	outline: none;
	border: 0;
	user-select: auto;
	padding: 0;
}

img {
	max-width: 100%;
}
p>img{
	max-width: 100%;
}
input::after {
	outline: none;
	border: 0;
	border-style: hidden;
	-webkit-border-style: hidden;
}

html {
	font-size: 16px;
}
.floor-50{
	width: 100%;
	height: 50rpx;
}
.floor-100{
	width: 100%;
	height: 100rpx;
}
.floor-150{
	width: 100%;
	height: 150rpx;
}
.floor-200{
	width: 100%;
	height: 200rpx;
}
/*鼠标指针变手*/
.cursor {
	cursor: pointer;
}

.btn {
	cursor: pointer;
}

.btn:visited {
	cursor: pointer;
}

.btn:active {
	transform: translate(1px, 1px);
}

.di {
	width: 100%;
	height: 1.2rem;
}

.page {
	/* background: #fff; */
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.row_c {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.col_c {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row_s {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.col_s {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.row_e {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.col_e {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.row_b {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.col_b {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.col_a {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.row_a {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.ree {
	position: relative;
}

.fid {
	position: fixed;
	top: var(--window-top);
	left: 0;
	z-index: 99;
}

.fid-all {
	position: fixed;
	top: var(--window-top);
	left: 0;
	bottom: var(--window-bottom);
	right: 0;
	z-index: 99;
}

.fid-t {
	position: fixed;
	top: var(--window-top);
	z-index: 99;
}

.fid-b {
	position: fixed;
	bottom: var(--window-bottom);
	z-index: 99;
}

.fid-t-l {
	position: fixed;
	top: var(--window-top);
	left: 0;
	z-index: 99;
}

.fid-b-l {
	position: fixed;
	bottom: var(--window-bottom);
	left: 0;
	z-index: 99;
}

.fid-t-r {
	position: fixed;
	top: var(--window-top);
	right: 0;
	z-index: 99;
}

.fid-b-r {
	position: fixed;
	bottom: var(--window-bottom);
	right: 0;
	z-index: 99;
}

.fid-r {
	position: fixed;
	right: 0;
	z-index: 99;
}

.fid-l {
	position: fixed;
	left: 0;
	z-index: 99;
}

.abe {
	position: absolute;
}
.abe-all{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
	top: 0;
	right: 0;
}
.abe-t {
	position: absolute;
	top: 0;
	z-index: 9;
}

.abe-b {
	position: absolute;
	bottom: 0;
	z-index: 9;
}

.abe-t-l {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.abe-b-l {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9;
}

.abe-t-r {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
}

.abe-b-r {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 9;
}

.abe-r {
	position: absolute;
	right: 0;
	z-index: 9;
}

.abe-l {
	position: absolute;
	left: 0;
	z-index: 9;
}

.nowarp {

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ellipsis {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.arrow {
	width: .14rem;
	height: .14rem;
	border-top: .04rem solid #bfbfbf;
	border-right: .04rem solid #bfbfbf;
	position: absolute;
	right: 5%;
	transform: rotate(45deg);
	top: 45%;
}

.arrow-x {
	width: .14rem;
	height: .14rem;
	border-top: .04rem solid #bfbfbf;
	border-right: .04rem solid #bfbfbf;
	position: absolute;
	right: 5%;
	transform: rotate(135deg);
	top: 45%;
}

.ipt {
	/* pointer-events: none; */
	user-select: auto;
}

.bolder {
	font-weight: bold;
}
