page{
	background: #4fbfff;
}
.top {
width: 100%;
height: 280rpx;
}

.top-icon{
width: 151rpx;
height: 137rpx;
}

.title {
width: max-content;
padding: 0 20rpx;
height: 56rpx;
margin-right: 40rpx;
border-radius: 28rpx;
background-color: #010101;
font-size: 27rpx;
font-family: SimHei;
font-weight: 400;
color: #FFFFFF;
}

.w100 {

}

.box{
	width: 576rpx;
	padding:0 40rpx;
	height: 100rpx;
	border-radius: 50rpx;
	font-size: 40rpx;
	font-family: Eina01;
	/* font-weight: 600; */
	
	margin-bottom: 44rpx;
}
.box-act{
	background-color: #2d8eff;
	color: #fff;
}
.box-nor{
	background-color: #fff;
	color: #4394EF;
}
.box-right{
	width: 63rpx;
	height: 37rpx;
}